app/DoctrineMigrations
app/spool
app/cache
app/bootstrap.php.cache
!app/cache/.gitkeep
app/config/parameters.yml
app/config/parameters_test.yml
app/SymfonyRequirements.php

app/logs
!app/logs/.gitkeep
!app/build/logs/.gitkeep

var/
!var/.gitkeep

bin/chromedriver
bin/chromedriver.exe
bin/selenium-server.jar
bin/doctrine.php.bat
bin/doctrine.php
bin/doctrine
bin/doctrine.bat
bin/security-checker
bin/security-checker.bat

composer.dev.json
composer.phar
.idea/*

vendor/

#see .htacces.dist
web/.htaccess
web/bundles/
web/css/compiled/*
!web/css/vendor
web/js/compiled/*
!web/js/vendor

web/test
web/test/behat
!web/test/behat/.gitkeep

web/json/*
web/json/currencies.json
!web/json/.gitkeep

web/uploads/listings/images/*
!web/uploads/listings/images/default-listing.png
web/uploads/users/images/*
!web/uploads/users/images/default-user.png
web/uploads/.tmb/*
web/uploads/.quarantine/*

web/media/cache/*
web/images/Thumbs.db
web/assets/*
web/Thumbs.db
web/sitemap.xml
web/phpdocs/*

watch


C_local.0
C_local.ns
*.php~

behat.yml

features/_datas/cocorico_test.db
tmp/patch

/php
web/myco*.php

/auth.json


tmp/*
tmp/*.*
tmp/bu
tmp/tmp.json

#Mangopay
!tmp/mangopay/
!tmp/mangopay/.gitkeep
tmp/mangopay/MangoPaySdkStorage.tmp.php

doc/phpdocs/sami.phar

phpunit.xml
