sudo: false
dist: trusty
language: php

matrix:
  fast_finish: true
  include:
  - php: 7.1
  - php: 7.2
  
script:
  - (! find . -type f -name "*.php" -exec php -l {} \;  2>&1 |grep -v "No syntax error" )
