{
    "github-oauth": {
        "github.com": "xxxxxxyourtokenxxxxx"
    },
    "http-basic": {
         "packages.cocorico.io": {
             "username": "",
             "password": ""
         }
    }
}