{% extends '::base.html.twig' %}

{% if page %}
    {%- block meta_title -%}
        {{ page.metaTitle }}
    {%- endblock -%}

    {%- block meta_description -%}
        {{ page.metaDescription }}
    {%- endblock -%}
{% endif %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}
        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="min-height col-sm-8">
                        {% if page %}
                            <h1>{{ page.title }}</h1>
                            <div>
                                {# {% apply markdown_to_html %} #}
                                {{ page.description | raw }}
                                {# {% endapply %} #}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br />
                <br />
            </div>
        {% endblock %}
    {% endembed %}
{% endblock layout %}

