{% trans_default_domain 'cocorico_listing' %}

<div class="sub-holder" id="search-container">

    <div class="selection-holder">
        {% include '@CocoricoCore/Frontend/ListingResult/_form_search_characteristics.html.twig' with {
            'characteristics' : form.characteristics
        } only %}

    </div>

    <div style="clear:both"></div>
    <div class="selection-holder btn-block" style="display:none;">
        <div style="width:300px">
            <div class="select-holder">
                {{ form_widget(form.sort_by, {
                    'attr': {
                        'class': "form-control no-arrow",
                    }
                }) }}
            </div>
            <button type="submit" class="btn btn-default" style="padding: 6px 14px 6px;">
                {{ 'listing.filter'|trans }}
            </button>
        </div>
    </div>
</div>
