.multiselect {
    width:100%;

    .btn-group.show {
        display:block;
    }
}

.itou-multiselect {
    display:block;

    .btn-group {
        display:block;
    }

    button.btn.multiselect {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width:80%;
        padding: 0 .4em 0;
    }

    .multiselect-container {
        width:100%;

        .multiselect-option, 
        .multiselect-group, 
        .multiselect-all {
            padding: 0.25rem 0;
        }

        .multiselect-group {
            margin-top: 0.50rem;

            > a,
            > a *  {
                font-weight: bold;
            }
        }

        &.dropdown-menu {
            background-color:#fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            width:auto;
            max-width: 150%;
            min-width:100%;
            min-width:16rem;
            padding: 0 4px 0;


            > li > a  {
                white-space: normal;
                border-radius: 0;
                color: #000638;

                * {
                    margin: 0;
                } 
            }

            > .active > a, 
            > .active > a:hover, 
            > .active > a:focus,
            > li > a:hover {
                background-color: rgba(0, 6, 56, 0.05);
                font-weight: bold;

                * {
                    font-weight: bold;
                }
            }
        }
    }

}

.multiselect-selected-text {
    text-transform: initial;
}


#dir_form button.multiselect {
    display: block;
    width:100%;
    height:50px;
    text-align: left;
    background-color: #fff;
    color: #3f3e62;
    border: 1px solid #999baf;
    margin:0;
    background-position: right 10px center;
    background-repeat: no-repeat;    
    background-image: url('/images/dir_form_ico_shape.png');    
}
