.multiselect {
    width:100%;

    .btn-group.show {
        display:block;
    }
}

.itou-multiselect {
    display:block;

    .btn-group {
        display:block;
    }

    button.btn.multiselect {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .8rem 1rem;
        font-size: 1rem;
    }

    .multiselect-container {
        width:100%;

        .multiselect-option, 
        .multiselect-group, 
        .multiselect-all {
            padding: 0.25rem 0;
        }

        .multiselect-group {
            margin-top: 0.50rem;

            > a,
            > a *  {
                font-weight: bold;
            }
        }

        &.dropdown-menu {
            background-color:#fff;
            width:auto;
            max-width: 150%;
            min-width:100% !important;
            padding: 0 1rem;


            > li > a  {
                white-space: normal;
                border-radius: 0;
                color: #000638;

                * {
                    margin: 0;
                } 
            }

            > .active > a, 
            > .active > a:hover, 
            > .active > a:focus,
            > li > a:hover {
                background-color: rgba(0, 6, 56, 0.05);
                font-weight: bold;

                * {
                    font-weight: bold;
                }
            }
        }
    }

}

.multiselect-selected-text {
    text-transform: initial;
}


#dir_form button.multiselect {
    display: block;
    text-align: left;
    background-position: right 1rem center;
    background-repeat: no-repeat;    
    background-image: url('/itou/images/ico-file-list-2-line.svg');    
}
