{% trans_default_domain 'cocorico_listing' %}
<div class="flashes clearfix">
    <div id="success" style="display:none;" class="alert alert-success-new">
        <i class="ico icon-success">&nbsp;</i>

        <p>
            {{ 'success' |trans|upper }}! {{ 'listing.translate.success' |trans }}
        </p>
    </div>
    <div id='error' style="display:none;" class="alert alert-error-new">
        <i class="ico icon-error">&nbsp;</i>

        <p>
            {{ 'error' |trans|upper }}! {{ 'listing.translate.error' |trans }}
        </p>
    </div>
</div>
