{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            <div class="col-xs-12">
                <h1>{{ 'user.request.h1'|trans }}</h1>

                <div class="alert alert-error-new">
                    <i class="ico icon-error">&nbsp;</i>

                    <p>
                        {{ 'user.reset.error'|trans|upper }}! {{ 'resetting.password_already_requested'|trans }}
                    </p>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}

