@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff?86903366') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86903366#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-th:before { content: '\e800'; } /* '' */
.icon-down:before { content: '\e801'; } /* '' */
.icon-down-small:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-angle-up:before { content: '\e805'; } /* '' */
.icon-angle-down:before { content: '\e806'; } /* '' */
.icon-angle-right:before { content: '\e807'; } /* '' */
.icon-left-small:before { content: '\e808'; } /* '' */
.icon-angle-left:before { content: '\e809'; } /* '' */
.icon-down-open-mini:before { content: '\e80a'; } /* '' */
.icon-right:before { content: '\e80b'; } /* '' */
.icon-right-small:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-up:before { content: '\e80f'; } /* '' */
.icon-up-small:before { content: '\e810'; } /* '' */
.icon-mail-alt:before { content: '\e811'; } /* '' */
.icon-location:before { content: '\e812'; } /* '' */
.icon-location-1:before { content: '\e813'; } /* '' */
.icon-article:before { content: '\e814'; } /* '' */
.icon-calendar:before { content: '\e815'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-location-2:before { content: '\e817'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-vimeo:before { content: '\e819'; } /* '' */
.icon-gplus:before { content: '\e81a'; } /* '' */
.icon-eye:before { content: '\e81b'; } /* '' */
.icon-eye-off:before { content: '\e81c'; } /* '' */
.icon-error-field:before { content: '\e81d'; } /* '' */
.icon-info:before { content: '\e81e'; } /* '' */
.icon-star:before { content: '\e81f'; } /* '' */
.icon-cancel:before { content: '\e820'; } /* '' */
.icon-newspaper:before { content: '\e821'; } /* '' */
.icon-left-open-mini:before { content: '\e822'; } /* '' */
.icon-right-open-mini:before { content: '\e823'; } /* '' */
.icon-search:before { content: '\e824'; } /* '' */
.icon-down-open:before { content: '\e825'; } /* '' */
.icon-up-open-mini:before { content: '\e826'; } /* '' */
.icon-resize-full-alt:before { content: '\e827'; } /* '' */
.icon-right-open:before { content: '\e828'; } /* '' */
.icon-facebook:before { content: '\e829'; } /* '' */
.icon-clock-1:before { content: '\e82a'; } /* '' */
.icon-up-open:before { content: '\e82b'; } /* '' */
.icon-clipboard:before { content: '\e82c'; } /* '' */
.icon-commerical-building:before { content: '\e82d'; } /* '' */
.icon-lock-empty:before { content: '\e82e'; } /* '' */
.icon-cw:before { content: '\e82f'; } /* '' */
.icon-doc-text:before { content: '\e830'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
