@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.woff?33456996') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'marianne';
    src: url('/fonts/marianne-bold-webfont.woff#iefix');
    src: url('/fonts/marianne-bold-webfont.woff#iefix') format('woff'),
         url('/fonts/marianne-bold-webfont.woff2') format('woff2'),
         url('/fonts/Marianne-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
