@import 'tarte.scss';

// Base
@import 'itou_marche/base/mixins';
@import 'itou_marche/base/variables';

// Components
@import 'itou_marche/components/multiselect';
@import 'itou_marche/components/maparea';
@import 'itou_marche/components/jcf';
@import 'itou_marche/components/gallery';

// Sections
@import 'itou_marche/sections/hp';
@import 'itou_marche/sections/inclusion';
@import 'itou_marche/sections/siae';

// Layout
