/* quote/_form_new */
div.legend {
    font-weight:bold;
    margin-top:1rem;
    margin-bottom:1rem;
}

div.form-message {
    background-color:#f7f7f7;
}

.form-message .quote-detail {
    margin: 0 0 17px;
}

.form-message .quote-detail li {
    padding: 0;
    font-weight: 700;
    margin: 0 26px 0 0;
}

.form-message .quote-detail strong {
    font-weight: 400;
}

.quote_detail {
    color: #58595b;
    overflow: hidden;
    margin: 0 0 26px;
    border-radius: 5px;
    background: #f7f6f6;
    padding: 11px 33px 14px;
    border: #eaebec solid 1px;
}

.quote_detail li {
    float: left;
    width: 50%;
}

.quote_detail li:nth-child(2) {
    text-align: center;
}

.quote_detail li:last-child {
    text-align: right;
}

.quote_detail .icon {
    font-size: 24px;
    margin: 0 1px 0 0;
}

.quote_detail time {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.quote_detail strong {
    font-size: 18px;
    line-height: 21px;
}

.postarea .quote-detail {
    margin: 0 0 4px;
}

.postarea .quote-detail:before,
.postarea .quote-detail:after {
    content: " ";
    display: table;
}

.postarea .quote-detail:after {
    clear: both;
}

.postarea .quote-detail:before,
.postarea .quote-detail:after {
    content: " ";
    display: table;
}

.postarea .quote-detail:after {
    clear: both;
}

.postarea .quote-detail ul {
    float: left;
    width: 80%;
    margin: 2px 0 0;
}

.postarea .quote-detail ul li {
    padding: 0;
    color: #58595b;
    font-weight: 400;
}


.postarea .quote-detail ul li time,
.postarea .quote-detail ul li span {
    margin: 0;
    float: none;
    font-size: 14px;
    font-weight: 400;
}


