@charset "UTF-8";

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello2';
    src: url('../font/fontello2.svg?33456996#fontello2') format('svg');
  }
}
*/
 
[class^="icon-f2"]:before, [class*=" icon-f2"]:before {
  font-family: "fontello2";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: .875rem;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: .875rem;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-f2-th:before { content: '\268f'; } /* '⚏' */
.icon-f2-down:before { content: '\e008'; } /* '' */
.icon-f2-down-small:before { content: '\e009'; } /* '' */
.icon-f2-left:before { content: '\e00d'; } /* '' */
.icon-f2-left-small:before { content: '\e00e'; } /* '' */
.icon-f2-right:before { content: '\e01a'; } /* '' */
.icon-f2-right-small:before { content: '\e01b'; } /* '' */
.icon-f2-up:before { content: '\e020'; } /* '' */
.icon-f2-up-small:before { content: '\e021'; } /* '' */
.icon-f2-location-1:before { content: '\e724'; } /* '' */
.icon-f2-article:before { content: '\e734'; } /* '' */
.icon-f2-location:before { content: '\e803'; } /* '' */
.icon-f2-map-signs:before { content: '\f277'; } /* '' */
.icon-f2-wpforms:before { content: '\f298'; } /* '' */
.icon-f2-newspaper:before { content: '📰'; } /* '\1f4f0' */
.icon-f2-search:before { content: '🔍'; } /* '\1f50d' */

body {
    font-family:'roboto';
}
/******************
 * CONFIRM STYLES
 ******************/
.form-confirm {
    height:400px;
    background-image:url('/images/itou_curves2.png');
    background-size: 1400px 400px;
}

.form-confirm h1 {
    font-size:1.6rem;
    font-weight:400;
}

.form-confirm .container {
    width:70%;
    margin-left:auto;
    margin-right:auto;
    padding: 4rem;
    background-color:#fff;
    border-radius:7px;
    margin-left:15%;
    margin-top: 4rem;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.2);
}

.form-confirm .no-results {
    text-align: center;
}

.form-confirm .no-results  {
    font-size:1.4rem;
    color:#000;
}


/******************
 * BODY STYLES
 ******************/
.itou-info {
    background-color:#ddf2f3;
    padding:1.4rem 5rem;
    border-radius:7px;
    display: flex;
    flex-direction: row;
    margin-bottom:1rem;
    /*
    margin-top: 4rem;
    */
}

.itou-info p {
    flex: 1 0;
    }

.itou-info h3 { padding:0; margin:0}
.itou-info .shape { 
    width: 55px;
    height: 55px;
    flex: none;
    margin-left: -4rem;
    margin-right: 1rem;
}
 
#main .itou-info-hidden {
    display: none; 
}

.itou-formtitle {
    display:block;
    text-align:center;
}

.itou-fieldgroup {
    border:0;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.2);
    padding: .3rem 2rem 1rem 2rem;
    margin-bottom:2rem;
    /*
    padding-top:3rem;
    padding-bottom:4rem;
    */
    color: #495057;
}

.itou-fieldgroup .field-row {
    padding:1rem 0;
}

.itou-fieldgroup legend {
    border:0;
    margin-bottom:1rem;
    padding-top:1rem;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}

.itou-fieldgroup .label {
    text-align:left !important;
    text-transform:uppercase;
}

.itou-subfieldgroup {
    margin-bottom:4rem;
}

.quoteForm .label {
    float:left;
    width: 224px;
    margin: 7px 10px 0 0 ;
}

.quoteForm .itou-checkbox .label {
    width:100%;
}

.quoteForm .field-holder{
    overflow:hidden;
}

.itou-checkbox > .label-container {
    display:flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

.itou-checkbox div.label {
    width:100%;
}

#main .itou-checkbox .label-container,
#main .itou-checkbox .label {
    margin: 0;
    margin-top: -3px;
    font-size:1rem;
}

.itou-checkbox .field-holder {
    width: 3rem;
    overflow: visible;
    flex: none;
}

#listing_clientImages .jcf-file {
    display: none;
}

/******************
 * REGISTER CONFIRMATION STYLES
 ******************/
 .buttonrow {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
 }

.btn-outline-primary {
    box-sizing: border-box;
    border: 2px solid #0077FF;
    border-radius: 5px;
}

.btn-outline-primary:hover { background-color: #007BFF; }


#form-registerlogin .btn-primary {
    box-sizing: border-box;
    border: 4px solid #0077FF;
    border-radius: 5px;
    background-color: #007BFF;
}

#form-registerlogin .btn-primary:hover {
    border-color:#0069d9;
    background-color:#0069d9;
}

/******************
 * LOGIN STYLES
 ******************/
#main .form-signup {
    border:0;
}
#form-registerlogin {
    width:100%;
    display:flex;
    justify-content:center;
}

#form-registerlogin .sub-form {
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.2);
    padding:2rem;
    color:#000;
    font-size:1rem;
    border-radius:7px;
}

#form-registerlogin .sub-form2 {
    padding:2rem;
    color:#000;
    font-size:1.125rem;
}

#form-registerlogin .sub-form3 {
    color:#000;
    font-size:1.125rem;
}

.login_register h1 {
    font-size:1.375rem;
    text-align:center;
    text-transform:uppercase;
    color:#000;
    font-weight:500;
}

.login_register h3 {
    font-size:1rem;
    text-transform:uppercase;
    color:#000;
    font-weight:700;
    margin-bottom:1rem;
    margin-top:3rem;
}


.login_register .label{
    display:block;
    float:none;
    text-align:left;
    padding-bottom:.2rem;
}

#form-registerlink {
    border-top:1px solid #979797;
    padding-top:.5rem;
    text-align:center;
    font-size:16px;
    font-weight:700;
}

#form-registerlink a{
    text-decoration:none;
    font-weight:900;
}

#registerbutton {
    margin-top:2rem;
    display:flex;
    justify-content:center;
}

#registerbutton button {
    padding-right:.2rem !important;
}

/******************
 * RESULT STYLES
 ******************/
#itou-results-form .form-holder,
#itou-results-form {
    background-color:#F2F8FF;
    border:0;
}

/******************
 * SUBSCRIPTION STYLES
 ******************/
#structure_modal, #structure_modal label {
    font-size: 1.5rem;
    line-height:2rem;
    font-weight: bold;
}


 #structure_modal ul {
    list-style-type:none;
}

 #structure_modal li {
    margin: 1rem 0;
}

label {
    font-size:1rem;
}

div.struct_type_select label {
   font-size:1rem;
}

div.struct_type_select .option {
   margin: 1rem 0;
}

fieldset {
    margin: 2rem 0;
}

/******************
 * HOME STYLES
 ******************/
.multiselect .btn-group.show {
    display:inline-block !important;
}

 .listing-category button.btn.multiselect {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width:80%;
      padding: 0 .4em 0;
 }


.listing-category .multiselect-container.dropdown-menu {
    border:#495057 1px solid;
    background-color:#f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width:auto;
    max-width: 150%;
    min-width:100%;
    padding: 0 4px 0;
}

.listing-category .multiselect-container.dropdown-menu > li > a  {
    white-space: normal;
    width:80%;
}

.listing-category .multiselect-container.dropdown-menu > li > a:hover  {
    background-color:#99cff2;
}

.multiselect-selected-text {
    text-transform: initial;
}


/******************
 * HEADER STYLES
 ******************/
@media screen and (min-width: 767px) and (max-width: 992px) {
    a.navbar-right {
        position: absolute;
        top: 0px;
        right: 0px;
    }

}

#header {
    background-color:#fff;
    padding-bottom:3px;
    box-shadow:0px -13px 21px #000 ;
    border-bottom:0;
    z-index:10;
    position:relative;
}

#main {
    z-index:9;
    position:relative;
}


#bloc-marque {
    display:table;
}

#bloc-marque img {
    height:80px;
    margin-right:2rem;
}
#bloc-marque div {
    display:table-cell;
    height:80px;
    vertical-align:middle;
    color:#383838;
}

.navbar-default .navbar-collapse {
    margin-top:18px;
}

.navbar .navbar-nav li a {
    color:#007bff;
    display:block;
    padding:.5rem .3rem;
    font-size:1.1rem;
}

.navbar .navbar-nav li a:hover {
    background-color:#e2f2ff;
    color:#0056b3;
}

.navbar a#new_offer, .navbar a.c2action {
    margin-top:5px;
    background-color:#007bff;
    border-color:#007bff;
}
.navbar a#new_offer:hover, .navbar a.c2action:hover {
    background-color:#0069d9;
    border-color:#0062cc;
}

.navbar #dashboard-dropdown {
    min-width:16rem;
}

.navbar-brand {
    font-family: 'marianne';
    text-decoration:none
}
.navbar-brand .title {
    font-family: 'marianne';
    font-weight: normal;
    font-style: normal;
    padding-left:4rem;
    font-size:.9rem;
}

/******************
 * FOOTER STYLES
 ******************/

.navarea #footer-list {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    width:100%;
}

.navarea #footer-list li {
    margin:0; padding:0;
    flex: 0 1 auto;
    display:block;
    text-align:center;
}

.navarea #footer-list a {
    margin:0; padding:0;
    font-size:1rem;
    display:block;
    text-align:center;
    padding:3px 10px 3px;
}


.navarea #footer-list a:hover {
    text-decoration:underline;
}

footer img.min_trav {
    background-color:#fff;
    width:100px;
}

#footer-title {
    color:#fff;
    text-align:left;
    font-size:1rem;
    font-family:verdana;
}

#footer-title h5 {
    color:#fff;
    font-size:1rem;
    font-weight:300;
}

#footer-title h5 b {
    font-weight:900;
}

@media screen and (max-width:767px) {
    #footer-title {text-align:center; font-size:.8rem}
}

@media screen and (max-width:576px) {
    .navarea #footer-list { display: block; }
    footer img.min_trav { width: 75px; }
}

/******************
 * LISTING STYLES
 ******************/
 .listing-location {
    font-size:1rem;
    color:#4a4a4a;
    text-align:center;
}

/******************
 * PROFILE STYLES
 ******************/
.profile-detail {
    margin:0;
    padding-right:1rem;
    color:#000;
}

.profile-detail h3,
.profile-detail h4 {
    color:#000;
}

.shadow {
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.1), 4px 4px 20px 0 rgba(0,0,0,0.05);
}

.deflist {
}

.deflist dd{
    padding-left:3rem;
}

.deflist dt {
}

aside.profile {
    background-color:#FEEDEE;
    height:100%;
    position:relative;
}

@media screen and (min-width:767px) {
    aside.profile {
        margin-top:-5rem;
        padding-top:3rem;
    }
}

.profile_capsule {
    margin:2rem 1rem;
    background-color:#fff;
    padding:0 1rem 2rem;
    border-bottom:5px solid #FE5455;
    border-radius:4px;
}

.profile_capsule h3 {
    margin:2rem 1rem;
    color:#000;
    padding-bottom:.4rem;
    padding-top:.6rem;
    border-bottom: 1px solid #999;
}

.map_capsule .deflist,
.profile_capsule .deflist {
    padding: 0 0 0 .5rem;
}

.map_capsule {
    margin:2rem 1rem;
    border-radius:4px;
}

.user_description {
    color:#000;
    padding:1rem;
    font-size:1.2rem;
}


.map_details {
    background-color:#fff;
    border-radius: 0 4px 4px 0;
    padding:2rem 1rem 2rem;
}

.map_capsule .map-holder{
    height:225px;
    width:100%;
    top:10px;
    border-radius:4px;
}

.profile-detail .listing-holder .listing-box {
    width:380px;
}

.profile-detail .listing-holder {
    display: flex !important;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.profile-detail .row {
    margin-bottom:1rem;
}

.profile-detail .row > div {
    min-height:7rem;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

#user_profile.gallery-small .slideset,
#user_profile.gallery-small .slideset .slide {
    width:150px;
    height:100px;
}

.active_sectors {
    list-style-type: none;
}

.active_sectors > li:before {
    content: "- ";
    text-indent:-5rem;
}


/******************
 * HOME STYLES
 ******************/

 #map-canvas {
    width:100%;
    height:100%;
 }
 .container {
    max-width: 1400px;
}

 .visual {
    background:none;
    margin-bottom:1rem;
}

.visual .title-holder {
    height:150px;
    padding-top:100px;
}

.home-page h1 {
    line-height:1.4em;
    max-width:none;
    color: #000;
    font-size:2.5rem;
    max-width:800px;
}

.home-page h2 {
    font-size:2rem;
}

.home-page h3 {
    font-size:1.5rem;
}

#itou-results-form,
.home-page .form-category {
    background-color: transparent;
    border: transparent;
}

#itou-results-form  .col,
.home-page .form-category .col {
    margin:0;
    padding:0;
}

#itou-results-form .col .btn-group {
    background-color:#fff;
}

#itou-results-form .col .form-control,
#itou-results-form .col .btn-group,
.home-page .form-category .col .form-control,
.home-page .form-category .col .btn-group {
    max-width:none;
    width:350px;
    height:40px;
    max-height:40px;
    border: 1px solid #979797;
    text-align:left;
    padding-bottom:3px;
    margin:0;
    border-radius:0 !important;
}

.testme {
    width:292px;
    height:40px;
    border:1px solid #ccc;
}



.multiselect-container > li.multiselect-group label {
    color:#000;
}

#itou-results-form {
    background-color:#F2F8FF;
}

#itou-results-form .selection-holder {
    float:none;
}

#itou-results-form #search-container li.field-row .select-holder {
    padding-left:0;
    padding-right:10px;
}

#itou-results-form .col .btn-group,
.home-page .form-category .col .btn-group {
    border-radius:4px 0 0 4px !important;
    background-image:url('/svg/group.svg');
    background-size: 25px 20px;
    background-position: right;
    background-repeat:no-repeat;
}

#itou-results-form .jcf-select {
    border:1px solid #979797;
    border-radius:4px;
}

#itou-results-form .jcf-select-opener {
    border:0;
}

#itou-results-form #search-container .selection-holder {
    width:100%;
}

#location {
    padding-top:0px;
    margin-left:-5px;
    background-image:url('/svg/room.svg');
    background-size: 25px 20px;
    background-position: right;
    background-repeat:no-repeat;
}

#itou-results-form .title,
.home-page .form-category .area .col .title {
    text-align: left;
    width: 100%;
    font-weight:bold;
    color:#000;
    margin:0;
    padding:0;
    padding-bottom:5px;
}

.home-page .itou-info {
    padding:1rem 3rem 1rem 5rem;
    text-align:left;
}

#itou-results-form .area .col .multiselect,
.home-page .form-category .area .col .multiselect {
    background-color: #fff;
    color: #979797;
}

.home-page .form-category .area .col .multiselect {
    display: block;
    width: 80%;
    text-align:left;
}

#itou-results-form .area .col .field-holder,
.home-page .form-category .area .col .field-holder {
    background-color: #fff;
    color: #979797;
}

.home-page .form-category .area .col .field-holder {
    display: block;
    width: 100%;
}

#search-submit,
#home-submit {
    border-radius:0;
    height:40px;
    margin-left:-4px;
    width:179px;
}


#borat .info-box {
    min-height:17rem;
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem 1rem;
    margin: 1rem;
    font-size:1rem;
    color:#000;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 3px 0 rgba(0,0,0,0.1), 4px 4px 18px 0 rgba(0,0,0,0.05);
}

#borat h3 {
    color: #fff;
    margin-left:3rem;
    margin-top:1rem;
    margin-bottom:2rem;
}

@media screen and (min-width: 1100px) {
    #borat {
        height:400px;
        /*background-image:url('/svg/couleurs.svg');*/
        background-image:url('/images/itou_curves2.png');
    }

    #borat .container {
      display: flex;
      justify-content: space-around;
    }

    #borat .info-box:first-child {
        margin-left:4rem;
    }
    #borat .info-box:last-child {
        margin-right:4rem;
    }

    .listing-category .multiselect-container.dropdown-menu {
        width:70rem;
        max-width:none;
        min-width:none;
        /*
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    */
    }
 

}
@media screen and (max-width: 1099px) {
    #borat {
        height:auto;
        background-image:url('/images/itou_curves2.png');
    }

    #borat .container {
      width:100%;
    }

}

@media screen and (min-width: 1230px) {
    #itou-results-form .area .col .multiselect {
        display: block;
        width: 80%;
        text-align:left;
        max-width:100%;
    }

    #itou-results-form .area .col .field-holder {
        display: block;
        width: 100%;
    }

}

@media screen and (max-width: 1229px) {
    #itou-results-form .area .col .multiselect {
        display:inline;
        width:none;
    }

    #itou-results-form .area .col .field-holder {
        display:inline;
        width:none;
    }

    #search-submit {
        display:block;
        margin-top:2rem;
    }

    .home-page .form-category .area .col .title,
    #itou-results-form .title {
        padding-top:1rem;
    }

}

.home-page .visual .container .btn {
    border-radius: 0 3px 3px 0 !important;
}

.home-page .infoarea .icon {
    height:90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Help banner */

#help_banner {
    margin:0 0rem 4rem 0;
    background-color:#F2F9FF;
    color:#000;
    font-size:1rem;
    padding:2rem;
    font-weight:bold;
}

#help_banner a {
    vertical-align:middle;
}

.high-rank-title {
    text-align:left;
    text-transform: None;
    font-weight:400;
    color:#000;
}
/* info banner */
#info_banner .textbox {
    padding-right:4rem;
    font-size:.875rem;
}

#info_banner .textbox > div{
    color:#007bff;
    font-size:.875rem;
    text-transform:uppercase;
}

#info_banner h3 {
    color:#000;
    font-weight:400;
    width:90%
}


#info_banner .btn-outline-primary {
    box-sizing: border-box;
    border: 1px solid #0077FF;
    border-radius: 5px;
}

#info_banner .btn-outline-primary:hover { background-color: #007BFF; }

@media screen and (min-width: 1100px) {
    #info_banner img {
        height:419px;
    }
    #info_banner {
        display:flex;
        justify-content:space-between;
        margin-bottom:5rem;
    }
    #info_banner p   {
        padding-top: 2rem;
        font-size:1.1rem;
        line-height:1.8em;
        color:#000;
        width:90%;
    }
    #info_banner h3 span {
        border-bottom: 3px #007bff solid;
        padding-bottom:1.5rem;
    }
}
@media screen and (max-width: 1099px) {
    #info_banner h3  {
        border-bottom: 3px #007bff solid;
        padding-bottom:1.5rem;
    }
    #info_banner {
        width:100%;
        height:auto;
    }

    #info_banner img {
        margin-top:3rem;
        margin-bottom:3rem;
        display:block;
        width:80%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
    }
    #info_banner p   {
        padding-top: 2rem;
        font-size:1.4rem;
        line-height:1.8em;
        color:#000;
        width:100%;
    }
}


/* Steps banner */
#step_banner {
    background-color: #fdefeb;
    background-color:#fff;
    background-image: url('/images/step_arrow.png');
    background-repeat:no-repeat;
    background-position-y: center;
    background-position-x: -66px;
    margin-bottom:4rem;
}

#step_banner h3 {
    color: #000;
    margin-left:3rem;
    margin-top:4rem;
    margin-bottom:3rem;
    font-weight:400;
}

#step_banner .info-box {
    padding: 3rem;
    font-size:1.1rem;
    display: flex;
    color:#000;
}

#step_banner .info-box .step-num {
  flex: 0 0 60px;
  height: 60px;
  width: 60px;
  border-radius: 14px;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 4px 6px 0 rgba(0,0,0,0.05);
  text-align: center;
  vertical-align: middle;
  line-height: 1.6em;
  font-size:2.4rem;
  color: #007BFF;
  font-weight:bold;
}

#step_banner .info-box .textbox {
    margin-left:3rem;
    font-size:1.2rem;
}

/* Listing offers */
.post-content h2 {
    font-size:.875rem;
    font-weight:400;
}

.listing-post .title{
    background: rgba(100, 100, 100, 0.85);
}

.listing-post .post-content {
    padding-top:9px;
    padding-bottom:9px;
    height:9rem;
}

.listing-post .frame {
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2)
}

.tips-section .caroufredsel_wrapper,
.tips-section .caroufredsel_wrapper .slides {
    height: 400px !important;
}


/******************
 * NEW LISTING STYLES
 ******************/
#breadcrumbs a {
    text-decoration: none;
    color:#655;
}

.listing-container h1 {
    color: #000;
}

.listing-container h2 {
    color:#655;
    font-size:.875rem;
    font-weight:500;
    margin-top:4rem;
}


#main .nav-tabs > li.active > a,
#main .nav-tabs > li.active > a:hover,
#main .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border:0;
}

#main .nav-tabs > li > a {
    background-color: #d8d8d8;
    color:#000;
    font-weight:bold;
}

#main .tab-content {
    border: 0;
}

.listing-area .tab-content {
    padding-top:0;
    padding-left:0;
    padding-right:0;
}

#main .listing-area #photos .gallery-slider .slide {
    border: 0;
    height:350px;
}
    

.listing-presentation {
    color:#000;
    margin-top:2rem;
    margin-bottom:2rem;
    margin-bottom:50px;
}

.info-pratiques {
  border-radius: 7px;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.1);
  border:0;
}

.info-pratiques h2 {
    font-size:1..875rem;
    font-weight:bold;
    text-align:center;
    margin-bottom:25px;
}

.listing-area .features-area h3 {
    font-size:.875rem;
    color:#655;
    text-align:left;
    margin-bottom:25px;
}

.listing-area .features-area ul {
    margin:0;
    padding:0;
    margin-right:4rem;
    color:#000;
}

.btns-area .btn-secondary:hover,
.btns-area .btn-secondary:focus,
.btns-area .btn-secondary:active {
    background-color: #ccc;
    color:#000;
}
    
#pol_range_form {
    margin:0;
    padding:0;
}

#pol_range_form li {
    list-style-type: none;
}

#pol_range_form label .jcf-number {
    display: inline-block;
    width:40%;
}

#characteristics {
    width: 100% !important;
}

#characteristics ul {
    display:flex;
    flex-wrap: wrap;
}

#characteristics li {
    min-width:15em;
}

.listing-section #characteristics label.label {
    font-size: .875rem;
}

.listing-section #characteristics li .field-holder{
    margin-top:1rem;
    margin-bottom:2rem;
}

.listing-section .jcf-list {
    padding-bottom:10rem;
}

.info-pratiques dl dd{
    color:#999;
    font-weight:bold;
}

.info-pratiques dl {
    border-bottom: 1px solid #ccc;
    padding-bottom:2rem;
    background-size:24px;
    background-repeat: no-repeat;
    padding-left:28px;
}
.info-pratiques dl:last-child {
    border:0;
}

#info-perimetre { background-image: url('/images/shape_perimeter.png'); }
#info-horaire { background-image: url('/images/shape_horaire.png'); }
#info-site { background-image: url('/images/shape_site.png'); }

ul.info-annonce {
    list-style-type:none;
    margin:4rem 0 4rem;
    padding:0;
}

ul.info-annonce h5 {
    color:#655;
    font-size:1rem;
    font-weight:300;
    line-height:.875rem;
}

ul.info-annonce b {
    font-weight:bold;
    color:#000;
}

ul.info-annonce li {
    background-size:25px;
    background-repeat: no-repeat;
    padding-left:30px;
}

#info-presta-type { background-image: url('/images/shape_prestatype.png'); }

img.client-ref {
    padding:0 1rem 0 0;
}

/******************
 * QUOTE STYLES
 ******************/
/* quote/_form_new */
div.legend {
    font-weight:bold;
    margin-top:1rem;
    margin-bottom:1rem;
}

div.form-message {
    background-color:#f7f7f7;
}

.form-message .quote-detail {
    margin: 0 0 17px;
}

.form-message .quote-detail li {
    padding: 0;
    font-weight: 700;
    margin: 0 26px 0 0;
}

.form-message .quote-detail strong {
    font-weight: 400;
}

.quote_detail {
    color: #495057;
    overflow: hidden;
    margin: 0 0 26px;
    border-radius: 5px;
    background: #f7f6f6;
    padding: 11px 33px 14px;
    border: #eaebec solid 1px;
}

.quote_detail li {
    float: left;
    width: 50%;
}

.quote_detail li:nth-child(2) {
    text-align: center;
}

.quote_detail li:last-child {
    text-align: right;
}

.quote_detail .icon {
    font-size: 24px;
    margin: 0 1px 0 0;
}

.quote_detail time {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.quote_detail strong {
    font-size: 18px;
    line-height: 21px;
}

.postarea .quote-detail {
    margin: 0 0 4px;
}

.postarea .quote-detail:before,
.postarea .quote-detail:after {
    content: " ";
    display: table;
}

.postarea .quote-detail:after {
    clear: both;
}

.postarea .quote-detail:before,
.postarea .quote-detail:after {
    content: " ";
    display: table;
}

.postarea .quote-detail:after {
    clear: both;
}

.postarea .quote-detail ul {
    float: left;
    width: 80%;
    margin: 2px 0 0;
}

.postarea .quote-detail ul li {
    padding: 0;
    color: #495057;
    font-weight: 400;
}

.postarea .quote-detail ul li time,
.postarea .quote-detail ul li span {
    margin: 0;
    float: none;
    font-size: 0.875rem;
    font-weight: 400;
}

section.quote-quick-form {
    margin:0;
    padding-left:21px;
    padding-right:12px;
    border:0;
    padding-top:0;
}

section.quote-quick-form fieldset {
    margin:0;
}

#main .gallery-small {
    background-color:transparent;
    border:0;
}

#main #user_contact.gallery-small .slideset,
#main #user_contact.gallery-small .slideset .slide {
    width:100%;
}

#user_contact h2 a {
    color: #495057;
    text-decoration:none;
    text-align:center;
    font-size: .8em;
    display:block;
}

#user_contact h2 a:hover {
    text-decoration:underline;
    color:#000;
}


.btn-quote {
    color:#fff;
    font-weight:bold;
    background-color: #FE5455;
    width:100%;
    margin:2rem 0;
}

.btn-quote:hover {
    background-color:#aa381e;
}

/******************
 * DIRECTORY STYLES
 ******************/
#dir_list {
    background-color:#f2f8ff;
    display:flex;
    flex-direction: column;
    margin-top:3rem;
    padding:1rem 2rem 3rem;
}

#dir_list table {
    width:100%;
    background-color:#f2f8ff;
    border-spacing:3px 14px;
}

#dir_list th {
    text-align:center;
}

#dir_list td {
    background-color:#fff;
    padding:.8rem 1rem;
}

#dir_list tr {
    margin-bottom:1rem;
}

#csv_get {
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left:auto;
    margin-right:auto;
}

#dir_form {
    margin-bottom:2rem;
    margin-top:6rem;
}

.dir_form .title {
    font-weight:bold;
    margin-bottom:3px;
}

#dir_form .label-container {
    padding-top:1rem;
}

#dir_form .label-container div  {
    display: inline-block;
}

#csv_form .jcf-checkbox { display:none }


.dir_form .jcf-select,
.dir_form input.form-control {
    height: 2.5rem;
    border: 1px solid #979797;
    border-radius: 3px 5px 5px 3px;
    background-color: #FFFFFF;
}

#dir_form ::placeholder {
    color: #A8A7A7;
}

.dir_form .reset,
.dir_form .btn,
.dir_form #filter-submit {
    margin-top:1.625rem;
    height: 2.5rem;
}

#dir_list .meta {
    font-weight:bold;
    padding: 1rem 0 3rem 1rem;
}


.headlink h3 {
    color:#000;
    margin-top:0;
}

.headlink p {
    font-size:1.4rem;
}

#formlink a,
#formlink a:active,
#formlink a:focus {
    color:#0069D9 !important; 
}

#formlink a:hover {
    color:#fff !important; 
}

#dirlink {
    background-color:#EAF3FC;
}

#formlink {
    background-color:#fff;;
    border: 3px solid #fe5455;
}

.headlink a {
    position:absolute;
    bottom:1rem;
    margin-left:9%;
    width:70%;
}

.headlink {
    margin: 3rem 0 2rem;
    padding: .8rem 2rem 5rem;
    color:#000;
    line-height:2.2rem;
    border-radius:8px;
    position:relative;
    width:45%;
}

#formlink img {
    margin-top:20px;
    margin-bottom:28px;
}

#c4_temp_head {
    display:flex;
    justify-content:space-around;
    width:100%;
}

@media screen and (max-width:576px) {
    #c4_temp_head {
        flex-flow: column wrap;
    }
    .headlink {
        width:100%;
    }
}

/******************
 * ADMIN STYLES
 ******************/
.form-area .about-info .label {
    padding:0;
    margin: 7px 11px 0 0 !important;
    width:50%;
    max-width: none;
    min-width:inherit;
}

.structure-post {
    border:1px solid #ccc;
}

.structure-post h3 {
    font-size:1.2rem;
    text-align:center;

}

.structure-post dd {
    text-align:right;
}


/******************
 * Multiselect Styles
 ******************/

div.c4_multiselect li {
    list-style-type:None;
}

.multisel h1,
.multisel h2 {
    cursor: pointer;
    margin:0;
    padding:0;
    border-left:5px solid #fff;
    padding-left:3px;
    margin:8px 0 4px;
}
.multisel h1 { font-size: 1.5rem; margin-top:12px;}
.multisel h2 { font-size: 1.3rem; }
.multisel h1:hover,
.multisel h2:hover {
    border-color:#000;
}
