/******************
 * BODY STYLES
 ******************/
.itou-info {
    background-color:#ddf2f3;
    padding:3rem 5rem;
    font-size:1.8rem;
    border-radius:7px;
    display: flex;
    flex-direction: row;
    margin-bottom:1rem;
}

.itou-info p {
    flex: 1 0;
    }

.itou-info h3 { padding:0; margin:0}
.itou-info .shape { 
    width: 55px;
    height: 55px;
    flex: none;
    margin-left: -4rem;
    margin-right: 1rem;
}
 
#main .itou-info-hidden {
    display: none; 
}

.itou-formtitle {
    display:block;
    text-align:center;
}

.itou-fieldgroup {
    border:0;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.2);
    padding: .3rem 2rem 1rem 2rem;
    margin-bottom:2rem;
    padding-top:3rem;
    color: #495057;
}

.itou-fieldgroup legend {
    border:0;
    margin-bottom:1rem;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}

.itou-fieldgroup .label {
    text-align:left !important;
}

.itou-subfieldgroup {
    margin-bottom:4rem;
}

.itou-checkbox > .label-container {
    display:flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

.itou-checkbox div.label {
    width:100%;
}

#main .itou-checkbox .label-container,
#main .itou-checkbox .label {
    margin: 0;
    margin-top: -3px;
    font-size:1em;
}

.itou-checkbox .field-holder {
    width: 3rem;
    overflow: visible;
    flex: none;
}

#listing_clientImages .jcf-file {
    display: none;
}

/******************
 * REGISTER CONFIRMATION STYLES
 ******************/
 #form-registerlogin .buttonrow {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
 }

#form-registerlogin .btn-outline-primary {
    box-sizing: border-box;
    border: 4px solid #0077FF;
    border-radius: 5px;
}

#form-registerlogin .btn-outline-primary:hover { background-color: #007BFF; }


#form-registerlogin .btn-primary {
    box-sizing: border-box;
    border: 4px solid #0077FF;
    border-radius: 5px;
    background-color: #007BFF;
}

#form-registerlogin .btn-primary:hover {
    border-color:#0069d9;
    background-color:#0069d9;
}

/******************
 * SUBSCRIPTION STYLES
 ******************/
#structure_modal, #structure_modal label {
    font-size: 1.5rem;
    line-height:2rem;
    font-weight: bold;
}


 #structure_modal ul {
    list-style-type:none;
}

 #structure_modal li {
    margin: 1rem 0;
}

 label {
    font-size:1.2em;
    }

 div.struct_type_select label {
    font-size:1.2em;
    }

 div.struct_type_select .option {
    margin: 1rem 0;
    }

fieldset {
    margin: 2rem 0;
}

body {
    font-size:14px;
}

/******************
 * HOME STYLES
 ******************/
 .listing-category button.btn.multiselect {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
      padding: 0 .4em 0;
 }


.listing-category .multiselect-container.dropdown-menu {
    border:#495057 1px solid;
    background-color:#f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width:auto;
    max-width: 150%;
    min-width:100%;
    padding: 0 4px 0;
}

.listing-category .multiselect-container.dropdown-menu > li > a  {
    white-space: normal;
    width:100%;
}

.listing-category .multiselect-container.dropdown-menu > li > a:hover  {
    background-color:#99cff2;
}



/******************
 * HEADER STYLES
 ******************/
@media screen and (min-width: 767px) and (max-width: 992px) {
    a.navbar-right {
        position: absolute;
        top: 0px;
        right: 0px;
    }

}

#bloc-marque {
    display:flex;
}

#bloc-marque img {
    height:31px;
    margin-top:6px;
    margin-right:2rem;
}
#bloc-marque div {
    font-size:.8em;
    display:block;
    color:#000;
    float:left;
}
#bloc-marque  span {
    float:left;
    font-size:.8em;
}

.navbar .navbar-nav li a {
    color:#007bff;
    display:block;
    padding:.5rem .3rem;
    font-size:1.1em;
}

.navbar .navbar-nav li a:hover {
    background-color:#e2f2ff;
    color:#0056b3;
}

.navbar a#new_offer, .navbar a.c2action {
    margin-top:5px;
    background-color:#007bff;
    border-color:#007bff;
}
.navbar a#new_offer:hover, .navbar a.c2action:hover {
    background-color:#0069d9;
    border-color:#0062cc;
}

.navbar #dashboard-dropdown {
    min-width:16rem;
}

/******************
 * FOOTER STYLES
 ******************/

.navarea #footer-list {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    width:100%;
}

.navarea #footer-list li {
    margin:0; padding:0;
    flex: 0 1 auto;
    display:block;
    text-align:center;
}

.navarea #footer-list a {
    margin:0; padding:0;
    font-size:1.2em;
    display:block;
    text-align:center;
    padding:3px 10px 3px;
}


.navarea #footer-list a:hover {
    text-decoration:underline;
}

footer img.min_trav {
    background-color:#fff;
    width:100px;
}

#footer-title {
    color:#fff;
    text-align:left;
    font-size:1.2em;
    font-family:verdana;
}

#footer-title h5 {
    color:#fff;
    font-size:1.2em;
    font-weight:300;
}

#footer-title h5 b {
    font-weight:900;
}

@media screen and (max-width:767px) {
    #footer-title {text-align:center; font-size:.8em}
}

@media screen and (max-width:576px) {
    .navarea #footer-list { display: block; }
    footer img.min_trav { width: 75px; }
}

/******************
 * LISTING STYLES
 ******************/
 .listing-location {
    font-size:1.2em;
    color:#4a4a4a;
    text-align:center;
}

/******************
 * HOME STYLES
 ******************/
 .container {
    max-width: 1400px;
}

 .visual {
    background:none;
}

.visual .title-holder {
    height:150px;
    padding-top:100px;
}

.visual h1 {
    color: #000;
    font-size:2.5em;
    line-height:1.4em;
}

.home-page .form-category {
    background-color: transparent;
    border: transparent;
}

.home-page .form-category .col {
    margin:0;
}

.home-page .form-category .area .col .title {
    text-align: left;
    width: 100%;
    font-weight:bold;
    color:#000;
}

.home-page .form-category .area .col .multiselect {
    display: block;
    width: 100%;
    border: 1px solid #979797;
    background-color: #fff;
    color: #979797;
}

.home-page .form-category .area .col .field-holder {
    display: block;
    width: 100%;
    border: 1px solid #979797;
    background-color: #fff;
    color: #979797;
}


#borat .info-box {
    border-radius: 10px;
    background-color: #fff;
    padding: 3rem;
    margin: 2rem;
    font-size:1.1em;
    color:#000;
}

#borat h3 {
    color: #fff;
    margin-left:3rem;
    margin-top:4rem;
    margin-bottom:3rem;
}

@media screen and (min-width: 1100px) {
    #borat {
        height:400px;
        background-image:url('/images/itou_curves.jpg');
        background-size: 1400px 400px;
    }

    #borat .container {
      display: flex;
      justify-content: space-around;
    }

    #borat .info-box:first-child {
        margin-left:4rem;
    }
    #borat .info-box:last-child {
        margin-right:4rem;
    }


}
@media screen and (max-width: 1099px) {
    #borat {
        height:auto;
        background-image:url('/images/itou_curves.jpg');
    }

    #borat .container {
      width:100%;
    }
}

.home-page .visual .container .btn {
    border-radius: 0 3px 3px 0 !important;
}

.home-page .infoarea .icon {
    height:45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Help banner */

#help_banner {
    display:flex;
    justify-content:center;
    margin:0 0 4rem;
     background-color:#F2F9FF;
    width:100%;
    color:#000;
    font-size:1.2em;
    padding:2rem;
    font-weight:bold;
}

#help_banner a {
    vertical-align:middle;
}

.high-rank-title {
    text-align:left;
    text-transform: None;
    font-weight:400;
    color:#000;
}
/* info banner */
#info_banner .textbox {
    padding-right:4rem;
}

#info_banner .textbox > div{
    color:#007bff;
    font-size:1.2em;
    text-transform:uppercase;
}

#info_banner h3 {
    color:#000;
    font-size:1.8em;
    font-weight:400;
    padding-bottom:2rem;
}



@media screen and (min-width: 1100px) {
    #info_banner img {
        height:419px;
    }
    #info_banner {
        display:flex;
        justify-content:space-between;
        margin-bottom:5rem;
    }
    #info_banner p   {
        border-top: 3px #007bff solid;
        padding-top: 2rem;
        font-size:1.4em;
        line-height:1.8em;
        color:#000;
        width:60%;
    }
}
@media screen and (max-width: 1099px) {
    #info_banner {
        width:100%;
        height:auto;
    }

    #info_banner img {
        margin-top:3rem;
        margin-bottom:3rem;
        display:block;
        width:80%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
    }
    #info_banner p   {
        border-top: 3px #007bff solid;
        padding-top: 2rem;
        font-size:1.4em;
        line-height:1.8em;
        color:#000;
        width:100%;
    }
}


/* Steps banner */
#step_banner {
    background-color: #fdefeb;
    background-color:#fff;
    background-image: url('/images/step_arrow.png');
    background-repeat:no-repeat;
    background-position-y: center;
    background-position-x: -66px;
    margin-bottom:4rem;
}

#step_banner h3 {
    color: #000;
    margin-left:3rem;
    margin-top:4rem;
    margin-bottom:3rem;
    font-weight:400;
}

#step_banner .info-box {
    padding: 3rem;
    font-size:1.1em;
    display: flex;
    color:#000;
}

#step_banner .info-box .step-num {
  flex: 0 0 60px;
  height: 60px;
  width: 60px;
  border-radius: 14px;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 4px 6px 0 rgba(0,0,0,0.05);
  text-align: center;
  vertical-align: middle;
  line-height: 1.6em;
  font-size:2.4em;
  color: #007BFF;
  font-weight:bold;
}

#step_banner .info-box .textbox {
    margin-left:3rem;
    font-weight:bold;
    font-size:1.2em;
}
/******************
 * NEW LISTING STYLES
 ******************/
#breadcrumbs a {
    text-decoration: none;
    color:#655;
}

.listing-container h1 {
    color: #000;
}

.listing-container h2 {
    color:#655;
    font-size:1em;
    font-weight:500;
    margin-top:4rem;
}


#main .nav-tabs > li.active > a,
#main .nav-tabs > li.active > a:hover,
#main .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border:0;
}

#main .nav-tabs > li > a {
    background-color: #d8d8d8;
    color:#000;
    font-weight:bold;
}

#main .tab-content {
    border: 0;
}

.listing-area .tab-content {
    padding-top:0;
    padding-left:0;
    padding-right:0;
}

#main .listing-area #photos .gallery-slider .slide {
    border: 0;
    height:350px;
}
    

.listing-presentation {
    color:#000;
    margin-top:2rem;
    margin-bottom:2rem;
    margin-bottom:50px;
}

.info-pratiques {
  border-radius: 7px;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.1);
  border:0;
}

.info-pratiques h2 {
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    margin-bottom:25px;
}

.listing-area .features-area h3 {
    font-size:1em;
    color:#655;
    text-align:left;
    margin-bottom:25px;
}

.listing-area .features-area ul {
    margin:0;
    padding:0;
    margin-right:4rem;
    color:#000;
}

.btns-area .btn-secondary:hover,
.btns-area .btn-secondary:focus,
.btns-area .btn-secondary:active {
    background-color: #ccc;
    color:#000;
}
    
#pol_range_form {
    margin:0;
    padding:0;
}

#pol_range_form li {
    list-style-type: none;
}

.listing-section #characteristics label.label {
    font-size: 1em;
}

.listing-section #characteristics li .field-holder{
    margin-top:1rem;
    margin-bottom:2rem;
}

.listing-section .jcf-list {
    padding-bottom:10rem;
}

.info-pratiques dl dd{
    color:#999;
    font-weight:bold;
}

.info-pratiques dl {
    border-bottom: 1px solid #ccc;
    padding-bottom:2rem;
    background-size:24px;
    background-repeat: no-repeat;
    padding-left:28px;
}
.info-pratiques dl:last-child {
    border:0;
}

#info-perimetre { background-image: url('/images/shape_perimeter.png'); }
#info-horaire { background-image: url('/images/shape_horaire.png'); }
#info-site { background-image: url('/images/shape_site.png'); }

ul.info-annonce {
    list-style-type:none;
    margin:4rem 0 4rem;
    padding:0;
}

ul.info-annonce h5 {
    color:#655;
    font-size:1.2em;
    font-weight:300;
    line-height:1em;
}

ul.info-annonce b {
    font-weight:bold;
    color:#000;
}

ul.info-annonce li {
    background-size:25px;
    background-repeat: no-repeat;
    padding-left:30px;
}

#info-presta-type { background-image: url('/images/shape_prestatype.png'); }

img.client-ref {
    padding:0 1rem 0 0;
}

/******************
 * QUOTE STYLES
 ******************/
/* quote/_form_new */
div.legend {
    font-weight:bold;
    margin-top:1rem;
    margin-bottom:1rem;
}

div.form-message {
    background-color:#f7f7f7;
}

.form-message .quote-detail {
    margin: 0 0 17px;
}

.form-message .quote-detail li {
    padding: 0;
    font-weight: 700;
    margin: 0 26px 0 0;
}

.form-message .quote-detail strong {
    font-weight: 400;
}

.quote_detail {
    color: #495057;
    overflow: hidden;
    margin: 0 0 26px;
    border-radius: 5px;
    background: #f7f6f6;
    padding: 11px 33px 14px;
    border: #eaebec solid 1px;
}

.quote_detail li {
    float: left;
    width: 50%;
}

.quote_detail li:nth-child(2) {
    text-align: center;
}

.quote_detail li:last-child {
    text-align: right;
}

.quote_detail .icon {
    font-size: 24px;
    margin: 0 1px 0 0;
}

.quote_detail time {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.quote_detail strong {
    font-size: 18px;
    line-height: 21px;
}

.postarea .quote-detail {
    margin: 0 0 4px;
}

.postarea .quote-detail:before,
.postarea .quote-detail:after {
    content: " ";
    display: table;
}

.postarea .quote-detail:after {
    clear: both;
}

.postarea .quote-detail:before,
.postarea .quote-detail:after {
    content: " ";
    display: table;
}

.postarea .quote-detail:after {
    clear: both;
}

.postarea .quote-detail ul {
    float: left;
    width: 80%;
    margin: 2px 0 0;
}

.postarea .quote-detail ul li {
    padding: 0;
    color: #495057;
    font-weight: 400;
}

.postarea .quote-detail ul li time,
.postarea .quote-detail ul li span {
    margin: 0;
    float: none;
    font-size: 14px;
    font-weight: 400;
}

section.quote-quick-form {
    margin:0;
    padding-left:21px;
    padding-right:12px;
    border:0;
    padding-top:0;
}

section.quote-quick-form fieldset {
    margin:0;
}

#main .gallery-small {
    background-color:transparent;
    border:0;
}

#main #user_contact.gallery-small .slideset,
#main #user_contact.gallery-small .slideset .slide {
    width:100%;
}

#user_contact h2 a {
    color: #495057;
    text-decoration:none;
    text-align:center;
    font-size: .8em;
    display:block;
}

#user_contact h2 a:hover {
    text-decoration:underline;
    color:#000;
}


.btn-quote {
    color:#fff;
    font-weight:bold;
    background-color: #e54b28;
    width:100%;
    margin:2rem 0;
}

.btn-quote:hover {
    background-color:#aa381e;
}


/******************
 * ADMIN STYLES
 ******************/
.form-area .about-info .label {
    padding:0;
    margin: 7px 11px 0 0 !important;
    width:50%;
    max-width: none;
    min-width:inherit;
}
