{% trans_default_domain 'cocorico_user' %}

<!-- alert -->
<div role="alert" class="alert alert-warning">
    <i class="ico exclamation">!</i>

    <p>
        {{ 'user.edit.completion_notice'| trans }}
    </p>
</div>