{% spaceless %}
    <a href="https://plus.google.com/share?{{ {'url': url}|url_encode }}">
        <i class="icon-gplus"></i>
        <span class="hidden">Google Plus</span>
    </a>
{% endspaceless %}