{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}
        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            <div class="col-xs-12">
                <h1>{{ 'registration.check_email.h1'|trans }}</h1>

                <div class="alert alert-success-new">
                    <i class="ico icon-success">&nbsp;</i>

                    <p>
                        {{ 'user.reset.success'|trans|upper }}
                        ! {{ 'registration.check_email'|trans({'%email%': user.email}) }}
                    </p>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
