<div class="siae-card">
    <div class="sc-img">
        {# Logo #}
        <img src="" />
    </div>
    <div class="sc-head">
        <h3>
            {{ entry.brand }}
        </h3>
        {#
        - co-traitance
        - favoris
        #}
    </div>
    <div class="sc-body">
        <div class="sc-profile">
            {#
            aperçus :
            - type de prestation
            - secteurs d'activité 
            #}
        </div>
        <div class="sc-data">
            {#
            - type
            - address
            #}
        </div>
    </div>
</div>
