{% extends '@CocoricoCore/Dashboard/layout.html.twig' %}

{% trans_default_domain 'cocorico_quote' %}


{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'quotes' %}
    {{ parent() }}
{%- endblock %}


{% block main_dashboard %}
    <div class="tab-content no-border">
        <!-- quotes -->
        <div style="background-color:#ddf2f3;color:#495057;padding:2rem;">
            <h2>Info déploiement</h2>
            Suite à l’évolution du marché de l'inclusion, cette fonctionnalité est désormais obsolète.<br/>
            {% if user.isSIAE  %}
                Les personnes intéressées peuvent désormais utiliser directement vos coordonnées pour vous contacter.
            {% else %}
                Il vous est possible de contacter directement les structures à partir de leur fiche de présentation.
            {% endif %}
        </div>
        <br />
        <br />
        <br />
        <div role="tabpanel" class="tab-pane active" id="quotes">
            <!-- postarea -->
            <section class="postarea alt">
                <header class="section-head">
                    <span class="result-counter">
                        {{ 'results'|transchoice(quotes.count) }}
                    </span>
                    {% include '@CocoricoCore/Dashboard/Quote/_filters.html.twig'with {
                    'filterForm': filterForm
                    } only %}
                </header>

                <div class="posts-holder">
                    {% include '@CocoricoCore/Dashboard/Quote/_quote_index.html.twig' with {
                    'quotes': quotes
                    } only %}
                </div>

                {% include '@CocoricoCore/Frontend/Common/_pagination.html.twig' with {
                'pagination': pagination
                } only %}
            </section>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        {# Filters by status #}
        $('#status').change(function (e) {
            $(this).closest('form').submit();
        });
    </script>
{% endblock %}
