$white: #ffffff;
$gray-100: #eff1ff;
$gray-200: #cccccc;
$gray-300: #6a6a6a;
$gray-400: #FBFBFB;
$gray-500: #b2b4c3;
$gray-600: #999baf;
$gray-700: #7f829b;
$gray-800: #3F3E62;
$gray-900: #000638;
$black: #383838;

$marche: #FE5455;
$marche-light: #FFDDDD;
$marche-lighter: #FFEEEE;
$marche-lightest: #FFF6F6;
